@tailwind base;
@tailwind components;
@tailwind utilities;

body {
font-family: 'Montserrat', 'sans-serif';
@apply bg-[#F5F6F6]
}
.menu-items li, .menu-footer {
@apply w-[45px] h-[45px] flex justify-center hover:bg-[#062c36] rounded-lg cursor-pointer my-[3px];
}
.menu-items li img, .menu-footer img {
@apply max-w-[20px];
}
.menu-items li:hover img, .menu-footer:hover img {
filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(1.2)
}
.menu-items li:hover, .menu-footer:hover {
box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.46);
-webkit-animation: animation 1000ms linear both;
animation: animation 1000ms linear both;
}

.menu-items li[active="true"] {
@apply bg-[#062c36];
box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.46);
filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(1.2)
}

.tippy-content{
    background: #000000;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 6px;
    @apply text-[12px]
  }